<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
    <h1>{{ book_name }}</h1>
    <div class="container">
        <h4>ID: {{ book_id }}</h4>
        <h4>Description: </h4><p>{{desc}}</p>
        <h4>Authors:</h4>
        <ul>
            {% for author in all_authors_assigned %}
                <li>{{author.first_name}} {{author.last_name}}</li>
            {% endfor %}
        </ul>
        <form action="/book/{{book_id}}/assign" method="post">
            {% csrf_token %}
            <select name="author.id" id="author.id" class="form_control">
                <option value="starter">-select an author-</option>
                {% for author in all_authors %}
                <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
                {% endfor %}
            </select>
            <button>Add</button>
        </form>
    </div>
</body>
</html>